<div class="container">
    <div class="row">
        <h1 class="display-5 text-center mb-5">Chat Marolio</h1>
        <div class="col-md-4" id="messages"></div>
        <div class="col-md-4 offset.md-2">
            <div class="mb-3">
                <label for="user" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="user">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <input type="text" class="form-control" id="message">
            </div>
            <button type="button" class="btn btn-primary" id="btnSend">Enviar Mensaje</button>
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>