<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <a href="/" title="Tienda Online Marolio"><img src="https://www.marolio.com.ar/sites/all/themes/theme1043/logo.png" alt="Marolio" width="120"></a>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/realtimeproducts">RealTime Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{{body}}}
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-5">Comprá ahora en nuestra tienda con envío gratis!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>Tienda Marolio desarrollado por <b>Tomas Stauber</b></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>